@import "@radix-ui/themes/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  /* fix header height to calc position of the sidebar */
  --header-height: 60px;
}

/* Keyframes for sidebar transition */
@keyframes slideIn {
  from {
    transform: translateX(110%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(110%);
    opacity: 0;
  }
}

/* Sidebar transition classes */
.animate-slideIn {
  animation: slideIn 0.3s ease-in-out forwards;
}

.animate-slideOut {
  animation: slideOut 0.3s ease-in-out forwards;
}
